*{
	-primary-color: #161616;
	-primary-color-light: #202020;
	-background-color: #141414;
	-text-color: #ddd;
}

.root{
	-fx-background-color: -background-color;
	-fx-padding: 8px;
}

.text {
    -fx-fill: -text-color;
}

/*Buttons*/
.button{
    -fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-min-width: 32;
}
.button:hover, .button:focused {
    -fx-background-color: -primary-color;
}

.button:pressed {
    -fx-background-color: -primary-color-light;
}


/*Player Controls*/
.musicSlider .track	{
	-fx-background-color: transparent;
}

.musicSlider .thumb	{
	-fx-background-color: transparent;
}

.musicProgressBar .track{
	-fx-background-color: -primary-color-light;
	-fx-min-width: 10px;
}

.musicProgressBar{
	-fx-accent: -text-color;
}

.controlsBox{
	-fx-background-color: -primary-color-light;
	-fx-background-radius: 8 8 0 0;
}

.controlsBox .button{
	-fx-background-radius: 8 8 0 0;
}

/*Playlist Controls*/
.scroll-pane {
	-fx-background-color: transparent;
	-fx-padding: 0 8 0 0;
}
.scroll-pane > .viewport {
	-fx-background-color: transparent;
}
.scroll-bar{
	-fx-background-color: transparent;
}
.scroll-bar > .thumb{
	-fx-background-color: -primary-color;
	-fx-border-color: -text-color;
	-fx-border-radius: 8px;
}

.playlist-controls{
	-fx-background-color: -primary-color-light;
	-fx-padding: 8px;
	-fx-background-radius: 0 8 8 8;
}

.playlist-listview{
	-fx-background-color: -primary-color-light;
}

.playlist-listview .list-cell{
	-fx-background-color: -primary-color-light;
	-fx-cursor: hand;
}

.playlist-listview .list-cell:selected, .playlist-listview .list-cell:filled:hover{
	-fx-background-color: -primary-color;
}

.playlist-listview .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.playlist-listview .scroll-bar > .thumb{
	-fx-border-color: transparent;
	-fx-border-radius: 0px;
}

.playlistItem{
	-fx-padding: 2 2 2 8;
	-fx-border-color: -text-color;
	-fx-border-radius: 8px;
	-fx-cursor: hand;
}

.playlistItem:hover {
	-fx-background-color: -primary-color;
}

.playlistItem .button{
	-fx-border-radius: 8px;
}
